<!DOCTYPE html>
<html>

<head>
    <title>Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script> var props = JSON.parse('{{ props|tojson }}'); </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="app-1" class=" w-full h-full min-h-[100vh]">
        <div class="w-[60%] mx-auto flex justify-center">
            <h1 class="mt-12 text-2xl font-bold"> Choose a Visualization: </h1>
        </div>
        <div class="w-[60%] mx-auto mt-6 flex justify-center">
            <div class="rounded-lg bg-gradient-to-r from-red-200 to-red-300 hover:from-pink-400 hover:to-pink-500 mx-6 cursor-pointer px-6 py-1 text-red-900 hover:text-white" v-for="route in routes" :key="route" @click="changeCurrent(route.key)">
                <span class="font-bold" v-html="route.title"></span>
            </div>
        </div>
        <div class="w-[60%] mt-4 mx-auto">
            <canvas v-show="showChart" id="myChart"></canvas>
            <div v-show="!showChart" id="plot"></div>
        </div>
    </div>


    <script>
        let vm = new Vue({
            el: '#app-1',
            data() {
                return {
                    ...props,
                    current: 0,
                    myChart: null,
                    showChart: true,
                }
            },
            mounted() {
            },
            methods: {
                plotGraph(info) {
                    Plotly.newPlot('plot', info.data, info.layout);
                },
                changeCurrent(index){
                    this.current = index
                    let info = this.chartInfo[index]
                    this.showChart = this.routes[index].isChart
                    if (this.showChart){
                        this.createChart(info, index==0)
                    }else{
                        this.plotGraph(info)
                    }
                },
                getWord(tooltipItems){
                    return tooltipItems.raw.word
                },
                createChart(info, resetLabels=false) {
                    if (this.myChart) this.myChart.destroy()

                    let ctx = document.getElementById('myChart').getContext('2d')
                    if(resetLabels){
                        info.options.plugins.tooltip = {
                            'callbacks': {
                                'label': this.getWord
                            }
                        }
                    }
                    this.myChart = new Chart(ctx, info)
                }
            },
        });


    </script>
</body>

</html>