<!DOCTYPE html>
<html>

<head>
    <title>Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script> var props = JSON.parse('{{ props|tojson }}'); </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="app-1" class=" w-full h-full min-h-[100vh]">
        <div class="w-[60%] mx-auto flex justify-center">
            <h1 class="mt-12 text-2xl font-bold"> Choose a Visualization: </h1>
        </div>
        <div class="w-[60%] mx-auto mt-6 flex justify-center">
            <div class="rounded-lg bg-gradient-to-r from-red-200 to-red-300 hover:from-pink-400 hover:to-pink-500 mx-6 cursor-pointer px-6 py-1 text-red-900 hover:text-white" v-for="route in routes" :key="route" @click="changeCurrent(route.key)">
                <span class="font-bold" v-html="route.title"></span>
            </div>
        </div>
        
        <div class="w-[60%] mt-6 mx-auto flex justify-center" v-if="current==0">
            <span class="font-bold mx-2" >Selecione uma linguagem:</span> 
            <select class="outline rounded-lg" v-model="language" @change="makePareto()">
                <option v-for="l in languageList" :key="l.value" v-html="l.text"></option>
            </select>
        </div>

        <div class="w-[60%] mt-4 mx-auto">
            <canvas class="w-full" v-show="showChart" id="myChart"></canvas>
            <div class="min-h-[80vh]" v-show="!showChart" id="plot"></div>
        </div>
    </div>


    <script>
        let vm = new Vue({
            el: '#app-1',
            data() {
                return {
                    ...props,
                    selected: '',
                    current: -1,
                    myChart: null,
                    showChart: true,
                    language: '',
                    languageList: [],
                    languageInfo: {},
                }
            },
            mounted() {
            },
            methods: {
                plotGraph(info) {
                    Plotly.newPlot('plot', info.data, info.layout);
                },
                changeCurrent(index){
                    this.showChart = this.routes[index].isChart
                    this.current = index
                    let info = this.chartInfo[index]
                    if (this.showChart){
                        this.createChart(info, index)
                    }else{
                        setTimeout(() => {
                            this.plotGraph(info)
                        }, 200)
                    }
                },
                getLanguage(tooltipItems){
                    return `(${tooltipItems.raw.language})`
                },
                getWord(tooltipItems){
                    return tooltipItems.raw.word
                },
                makePareto(){
                    let info = this.chartInfo[0]
                    this.createChart(info, 0, false)
                },
                createChart(info, index, updateData=true) {
                    if (this.myChart) this.myChart.destroy()
                    let chartInfo = {}
                    let ctx = document.getElementById('myChart').getContext('2d')
                    if(index==0){
                        chartInfo = info[0]
                        if(updateData){
                            this.languageInfo = {}
                            this.languageList = []
                            info[2].forEach(l => {
                                this.languageList.push({'value': l, 'text': info[3][l][0]})
                                this.languageInfo[info[3][l][0]] = l
                            });
                            this.language = this.languageList[0].text
                        }
                        let l_key = this.languageInfo[this.language]
                        chartInfo.data.labels = info[1][l_key].labelsData
                        chartInfo.data.datasets[0].data = info[1][l_key].barData
                        chartInfo.data.datasets[1].data = info[1][l_key].lineData
                        chartInfo.options.scales.y2.ticks = {
                            callback: function(value, index, ticks) {
                                return value + '%'
                            }
                        }
                        chartInfo.options.plugins.title = {
                            display: true,
                            text: this.language
                        }
                    }
                    if(index==1){
                        chartInfo = info
                        chartInfo.options.plugins.tooltip.callbacks.afterLabel = this.getLanguage
                        chartInfo.options.plugins.tooltip.callbacks.label = this.getWord
                    }
                    this.myChart = new Chart(ctx, chartInfo)
                }
            },
        });


    </script>
</body>

</html>